<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- ... /ns/javaee; https://ja.... 사이에 ; 넣어주면 오류 사라짐  -->

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests 
	** DispatcherServlet 계층도 **
		 DispatcherServlet -> FrameworkServlet -> HttpServletBean 
						   -> HttpServlet -> GenericServlet -> Object   
	-->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
<!-- ** url-pattern
		/* 는 모든 요청을 자기가 처리하겠다.
		/  는 모든 요청은 받지만 처리 못하는 것은 넘기겠다.
		  (즉, 처리 안되는 부분이 있다면  xml 에 추가적으로 필요한 코드를 작성함)  
-->
	<!-- 한글처리 필터 -->
	<filter>
		<filter-name>testFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
	  		<param-name>encoding</param-name>
	  		<param-value>UTF-8</param-value>
	  	</init-param>
	</filter>
	<filter-mapping>
	  	<filter-name>testFilter</filter-name>
	  	<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
